<html>
    <head>
        <title>sandchar</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src='
https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel='stylesheet' type='text/css' media='print' href='print.css' />
        <script src='./app.js'></script>
    </head>
    <style type='text/css'>
        body {
            margin: 1em;
        }
        .form-control.rank {
            width: 5em;
        }
        table.table tr td.input-cell {
            padding: 2px;
        }
    </style>
    <body ng-app='sandchar'>
        <div class='container-fluid'>
            <div class='row'>
                <div class='col-xs-4'>
                    <label>Name</label>
                    <input class='form-control' ng-model='char.name' />
                </div>
                <div class='col-xs-2'>
                    <label>Power</label>
                    <input class='form-control'
                        disabled value='{{char.totalPower()}}' />
                </div>
                <div class='col-xs-2'>
                    <label>Level <small>d(P)</small></label>
                    <input class='form-control' disabled value='{{char.level()}}' />
                </div>
            </div>
            <div class='row'>
                <div id='virtues-and-attributes' class='col-md-3'>
                    <h2>Virtues</h2>
                    <table class='table table-striped'>
                        <thead>
                            <tr>
                                <th>virtue</th>
                                <th>rank</th>
                                <th>power</th>
                            </tr>
                        </thead>
                        <tr ng-repeat='virtue in char.virtues'>
                            <td>{{virtue.name}}</td>
                            <td class='input-cell' >
                                <input class='form-control rank keyfill' type='number'
                                    ng-model='virtue.rank'/>
                            </td>
                            <td class='input-cell'>
                                <input class='form-control rank' disabled
                                    value='{{virtue.power()}}' />
                            </td>
                        </tr>
                    </table>

                    <h2>Attributes</h2>
                    <table class='table table-striped'>
                        <thead>
                            <tr>
                                <th>attribute</th>
                                <th>rank</th>
                            </tr>
                        </thead>
                        <tr ng-repeat='att in char.attributes'>
                            <td>
                                {{att.name}}
                                <span class='small text-muted'>
                                    ({{att.virtues[0][0]}}+{{att.virtues[1][0]}})/3
                                </span>
                            </td>
                            <td class='input-cell'>
                                <input class='form-control rank'
                                    disabled value='{{att.rank()}}'/>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id='skills' class='col-md-6'>
                    <h2>Skills</h2>
                    <table class='table table-striped'>
                        <thead>
                            <tr>
                                <th>skill</th>
                                <th>rank</th>
                                <th>power</th>
                                <th>skill</th>
                                <th>rank</th>
                                <th>power</th>
                            </tr>
                        </thead>
                        <tr ng-repeat='skill in char.skills'
                            ng-if='$even'>
                            <td>{{skill.name}}</td>
                            <td class='input-cell'>
                                <input class='form-control' type='number'
                                    ng-model='skill.rank'
                                    style='width: 5em;'/>
                            </td>
                            <td class='input-cell'>
                                <input class='form-control rank' disabled
                                    value='{{skill.power()}}'>
                            </td>
                            <td>{{char.skills[$index + 1].name}}</td>
                            <td class='input-cell'>
                                <input class='form-control' type='number'
                                    ng-model='char.skills[$index + 1].rank'
                                    style='width: 5em;'/>
                            </td>
                            <td class='input-cell'>
                                <input class='form-control rank' disabled
                                    value='{{char.skills[$index + 1].power()}}'>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id='abilities-and-aspects' class='col-md-3'>
                    <h2>Special abilities</h2>
                    <table class='table table-striped'>
                        <thead>
                            <tr>
                                <th>ability</th>
                                <th>rank</th>
                                <th>power</th>
                            </tr>
                        </thead>
                        <tr ng-repeat='ability in char.abilities'>
                            <td class='input-cell'>
                                <input class='form-control' type='text'
                                    ng-model='ability.name'>
                            </td>
                            <td class='input-cell'>
                                <input class='form-control' type='number'
                                    style='width: 5em;'
                                    ng-model='ability.rank'>
                            </td>
                            <td class='input-cell'>
                                <input class='form-control rank' disabled
                                    value='{{ability.power()}}'>
                            </td>
                        </tr>
                    </table>

                    <h2>Aspects</h2>
                    <div class='form-group'
                        ng-repeat='aspect in char.aspects track by $index'>
                        <textarea ng-model='char.aspects[$index]'
                        class='form-control'>
                        </textarea>
                    </div>
                    <!-- <button type='button' class='btn btn-success'
                        ng-click='char.addAspect()'>
                        <span class='glyphicon glyphicon-plus'></span>
                    </button> -->
                </div>
            </div>
        </div>
    </body>
</html>
